@model Activosfijos.Models.responsable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>responsable</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idresponsable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idresponsable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bien.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bien.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.empleado.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.empleado.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
