@model Activosfijos.Models.responsable

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>responsable</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idresponsable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idresponsable)
            @Html.ValidationMessageFor(model => model.idresponsable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idbien, "bien")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idbien", String.Empty)
            @Html.ValidationMessageFor(model => model.idbien)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idempleado, "empleado")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idempleado", String.Empty)
            @Html.ValidationMessageFor(model => model.idempleado)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
