@model Activosfijos.Models.detalledepreciacion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>detalledepreciacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.iddetalledepreciacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.iddetalledepreciacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.depreciacion.iddepreciacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.depreciacion.iddepreciacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gestion.idgestion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gestion.idgestion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipobien.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipobien.descripcion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
