@model Activosfijos.Models.detalledepreciacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>detalledepreciacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.iddetalledepreciacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.iddetalledepreciacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.depreciacion.iddepreciacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.depreciacion.iddepreciacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gestion.idgestion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gestion.idgestion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipobien.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipobien.descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
