@model IEnumerable<SAF.Models.Mantenimiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MantenimientoDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MantenimientoTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MantenimientoDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MantenimientoTipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MantenimientoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MantenimientoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MantenimientoId })
        </td>
    </tr>
}

</table>
