@model Activosfijos.Models.bien

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>bien</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idbien)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idbien)
            @Html.ValidationMessageFor(model => model.idbien)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.preciocompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.preciocompra)
            @Html.ValidationMessageFor(model => model.preciocompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.precioactual)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.precioactual)
            @Html.ValidationMessageFor(model => model.precioactual)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idingreso, "ingresoegreso1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idingreso", String.Empty)
            @Html.ValidationMessageFor(model => model.idingreso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idtipobien, "tipobien")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idtipobien", String.Empty)
            @Html.ValidationMessageFor(model => model.idtipobien)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaingreso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaingreso)
            @Html.ValidationMessageFor(model => model.fechaingreso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaegreso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaegreso)
            @Html.ValidationMessageFor(model => model.fechaegreso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idegreso, "ingresoegreso")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idegreso", String.Empty)
            @Html.ValidationMessageFor(model => model.idegreso)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
