@model Activosfijos.Models.bien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>bien</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idbien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idbien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.preciocompra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.preciocompra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.precioactual)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.precioactual)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ingresoegreso1.tipoingreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ingresoegreso1.tipoingreso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipobien.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipobien.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechaingreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaingreso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechaegreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaegreso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ingresoegreso.tipoingreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ingresoegreso.tipoingreso)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
