@model IEnumerable<Activosfijos.Models.bien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idbien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preciocompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioactual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingresoegreso1.tipoingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipobien.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaegreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingresoegreso.tipoingreso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idbien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preciocompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioactual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingresoegreso1.tipoingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipobien.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaegreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingresoegreso.tipoingreso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
