@model IEnumerable<Activosfijos.Models.apreciacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idapreciacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentajeapreciacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idapreciacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeapreciacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.idapreciacion  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.idapreciacion  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.idapreciacion  })
        </td>
    </tr>
}

</table>
