@model Activosfijos.Models.tipobien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tipobien</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idtipobien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idtipobien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.categoria.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categoria.descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
