@model Activosfijos.Models.mantenimientobien

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>mantenimientobien</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idmantenimientobien)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idmantenimientobien)
            @Html.ValidationMessageFor(model => model.idmantenimientobien)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idbien, "bien")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idbien", String.Empty)
            @Html.ValidationMessageFor(model => model.idbien)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idmantenimiento, "mantenimiento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idmantenimiento", String.Empty)
            @Html.ValidationMessageFor(model => model.idmantenimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
